<!DOCTYPE html>
<html lang="en">
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
<body>
<div class="pa4 pa5-ns sans-serif">
    <h1 class="f-headline code purple">404</h1>
    <h1>Cannot find whatever it is you are looking for :(</h1>
</div>
</body>
</html>